

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title> Social Media </title>
    <link rel="icon" href="~/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/Css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/JavaScript/Login.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="land-featurearea">
                        <div class="land-meta">
                            <h1>Login</h1>
                            <p>
                                Wel-Come
                            </p>
                            <div class="friend-logo">-->
                @*<span><img src="images/wink.png" alt=""></span>*@
                <!--</div>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="login-reg-bg">
                        <div class="log-reg-area sign">
                            <h2 class="log-title">Login</h2>

                            <form method="post">
                                <div class="form-group">
                                    <input type="text" id="Email" required="required" />
                                    <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>

                                </div>
                                <div class="form-group">
                                    <input type="password" id="Password" required="required" />
                                    <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
                                </div>
                                <span id="loginError"></span>
                                @* <div class="checkbox">
            <label>
                <input type="checkbox" checked="checked" /><i class="check-box"></i>Always Remember Me.
            </label>
        </div>*@


                                <br />

                                @*<a href="#" id="forgotPasswordLink">Forgot Password?</a>*@

                                <a href="#" title="" class="forgot-pwd">Forgot Password?</a>

                                <div class="submit-btns">
                                    <button class="mtr-btn signin" type="button" onclick="handleLogin()"><span>Login</span></button>
                                    <button class="mtr-btn signup" type="button" style="background-color: #3498db; color: #ffffff; border: none; padding: 10px -8px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;"><span>Register</span></button>

                                </div>
                            </form><br /><br />
                           @* <div id="forgotPasswordForm" style="display: none;">
                                <input type="email" id="forgotEmail" required="required" placeholder="Email">
                                <button type="button" id="sendResetLinkBtn">Send Reset Link</button>
                                <span id="forgotPasswordMessage"></span>
                            </div>*@
                        </div>
                        <div class="log-reg-area reg">
                            <h2 class="log-title">Register</h2>

                            <form method="post">

                                <div class="form-group">
                                    <input type="text" id="fName" required="required" />
                                    <label class="control-label" for="input">FirstName</label><i class="mtrl-select"></i>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="Name" required="required" />
                                    <label class="control-label" for="input">LastName</label><i class="mtrl-select"></i>
                                </div>


                                <div class="form-group">
                                    <input type="text" id="NewEmail" required="required" />
                                    <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="NewPassword" required="required" />
                                    <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="ConfirmPassword" required="required" />
                                    <label class="control-label" for="ConfirmPassword">Confirm Password</label><i class="mtrl-select"></i>
                                </div>

                                <span id="NewloginError"></span><br />
                                <a href="#" title="" class="already-have">Already have an account</a>
                                <div class="submit-btns">
                                    <button class="mtr-btn signup" type="button" onclick="handleSignup()"><span>Register</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/JavaScript/main.min.js"></script>
    <script src="~/JavaScript/script.js"></script>

</body>

</html>

