<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title> Social Media WebApplication  </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <style>
        @*.photos {
            list-style: none;
            padding: 0;
        }

        .post-item {
            display: inline-block;
            margin: 10px;
            position: relative;
        }

            .post-item img {
                width: 212px;
                height: 212px;
                object-fit: cover;
            }

        .post-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: white;
        }

            .post-icon:hover {
                color: yellow;
            }

        .error-message {
            color: red;
            display: none;
        }*@


        .form-group {
            margin-bottom: 15px;
        }

        .error-message {
            color: red;
            display: none;
        }

        .control-label {
            font-size: 10px;
            font-weight: bold;
        }

        .name-input {
            display: block;
            margin-top: 5px;
        }
    </style>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/Css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link href="~/Css/AboutPage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/JavaScript/HomePage.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/JavaScript/HomePage.js"></script>
</head>
<body>
    <div class="theme-layout">

        <div class="responsive-header">
            <div class="mh-head first Sticky">
                <span class="mh-btns-left">
                    <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
                </span>
                <span class="mh-text">
                    <a href="newsfeed.html" title=""><img src="~/images/logo2.png" alt=""></a>
                </span>
                <span class="mh-btns-right">
                    <a class="fa fa-sliders" href="#shoppingbag"></a>
                </span>
            </div>
            <div class="mh-head second">
                <form class="mh-form" id="mh-form">
                    <input placeholder="search" />
                    <a href="#/" class="fa fa-search"></a>
                </form>
            </div>
        </div><!-- responsive header -->

        <div class="topbar stick">
            <div class="logo">
                <a title="" href="/Login/HomePage">
                    Back
                    @*<img src="~/images/pexels-pixabay-462162.jpg" alt="" height="95" width="34">*@
                </a>
            </div>

            <div class="top-area">
                <div class="user-img">
                    @* <img src="~/images/download.jpg" alt="" height="31" width="31">*@
                    <span class="status f-online"></span>
                    <div class="user-setting">
                        <a href="#" title="" id="logoutButton"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log out</a>
                    </div>
                </div>
            </div>
        </div><!-- topbar -->

        <section>
            <div class="feature-photo">
                <figure>
                    @*<img src="~/images/resources/timeline-1.jpg" alt="">*@
                    <div id="yourContainer">
                        @*                        <img src="~/images/pexels-pixabay-462162.jpg" />
                        *@                        <img src="~/images/1080x360.jpg" />
                    </div>
                </figure>
                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    <img src="" id="ProfilePhoto" alt="">
                                    <form id="uploadForm" enctype="multipart/form-data">
                                        <label for="fileInput" class="fileContainer">
                                            Edit Display Photo
                                            <input type="file" id="fileInput" onchange="uploadProfilePhoto()" name="fileInput" accept="image/*" />
                                        </label>
                                        @* <button type="button" onchange="uploadFile()">Upload Photo</button>*@
                                    </form>


                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h3 id="UserName"></h3>


                                    </li>
                                    <li>
                                        <a class="active" id="timeline-link" title="" data-ripple=""> Personal Info</a>
                                       
                                        @* <a class="" id="changepassword-link" title="" data-ripple="">Change Password</a>*@

                                        <a class="" id="followers-link" title="" data-ripple="">Friends</a>

                                        <a class="" id="post-link" title="" data-ripple="">Post</a>

                                     




                                        @* <a class="" id="following-link" title="" data-ripple="">Following</a>*@


                                        @*<a href="#activities" data-toggle="tab">ACTIVITIES</a>*@
                                        @* <a href="#followers" data-toggle="tab">FOLLOWERS</a>
                                            <a href="#following" data-toggle="tab">FOLLOWING</a>*@

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- top area -->

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">

                                </div><!-- sidebar -->
                                <div class="col-lg-6">
                                    <div class="central-meta">
                                        <!-- About Div -->
                                        <div id="timeline-div">
                                            <div class="about">
                                                <div class="personal">
                                                    <h5 class="f-title"><i class="fa fa-address-book"></i> Personal Info</h5>

                                                </div>
                                                <div class="d-flex flex-row mt-2">
                                                    <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left">
                                                        <li class="nav-item">
                                                            <a href="#basic" class="nav-link active" data-toggle="tab">Basic info</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#interest" class="nav-link" data-toggle="tab">interests</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#Bio" class="nav-link" data-toggle="tab">Bio</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade show active" id="basic">
                                                            <ul class="basics">
                                                                @*  <li id="UserName"><i class="fa-regular fa-user"></i></li>*@
                                                                <li id="City"><i class="fa-solid fa-city"></i></li>
                                                                <li id="PhoneNumber"><i class="fa-solid fa-phone"></i></li>
                                                                <li id="Email"><i class="fa-solid fa-envelope"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane fade" id="interest" role="tabpanel">
                                                            <ul class="basics" id="interestdata">
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane fade" id="Bio" role="tabpanel">
                                                            <ul class="basics" id="BioInfo">
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>
                                                @* <div class="section">
                                                        <h3>Statistics</h3>
                                                        <span class="badge">12</span><span class="inline-text">Followers</span>
                                                        <span class="badge">2</span><span class="inline-text">Following</span>


                                                    </div>*@
                                            </div>
                                        </div>

                                        <!-- edit info -->

                                       
                                        <script>

                                        </script>



                                        <!--  change password -->

                                        

                                      

                                        <div id="accepted-follower-div" style="display: none;">

                                            <h5 class="f-title"><i class="fa-solid fa-user"></i>User Friend</h5>

                                            <ul id="acceptUserList">
                                            </ul>



                                        </div>


                                



                                        <div id="post-div" style="display: none;">
                                            <div class="Post-info" id="UserPostDiv">
                                                <h5 class="f-title"><i class="fa-solid fa-image"></i>Post</h5>
                                                <ul class="photos">
                                                    <!--load dynamic post-->
                                                </ul>
                                            </div>
                                        </div>



                                        <!--<div id="archieve-div" style="display: none;">
                                            <div class="archieve-info" id="archieveDiv">
                                                <h5 class="f-title"><i class="fa-solid fa-box-archive"></i>archieve Photos</h5>
                                                <ul class="photos">-->
                                                    <!--load dynamic post-->
                                                <!--</ul>
                                            </div>
                                        </div>-->



                                        


                                    </div>
                                </div><!-- centerl meta -->

                                <div class="col-lg-3"></div><!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </section>

  







    

    <script src="~/JavaScript/main.min.js"></script>
    <script src="~/JavaScript/script.js"></script>
    <script src="https://kit.fontawesome.com/740b3d7ee7.js" crossorigin="anonymous"></script>
</body>

</html>
